@use "sass:color";
@import "../../variables";

.c-button {
	margin-right: 1rem;
	padding: 0.5rem 1rem;
	display: inline-block;
	border: 1px solid color.adjust($accent, $lightness: 5%);
	background-color: color.adjust($accent, $lightness: 2%);
	border-radius: 6px;
	color: white;
	font-size: 0.8rem;
	text-decoration: none;

	&:hover {
		background-color: color.adjust($accent, $lightness: 10%);
	}

	&.c-link-active {
		background-color: color.adjust($accent, $lightness: 10%);
	}

	svg {
		margin-right: 0.3rem;
	}
}
