@use "sass:color";
@import "../../variables";

.c-button--large {
  margin-bottom: 4rem;
}

p > ul {
  display: flex;
  flex-direction: row;
  width: 50rem;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px dashed $accent;
  border-radius: 6px;

  li {
    margin-right: 2rem;
    list-style: none;
    width: 25rem;
    padding: 2rem 1rem;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        list-style: none;
        display: inline-block;
        width: 14rem;

        padding: 0.2rem 0.4rem;
        margin: 0.2rem 0;
        background-color: $accent;
        color: white;
        border-radius: 4px;
      }
    }
  }
}
