@use "sass:color";
@import "../../variables";

@keyframes backgroundColorAnimation {
  from {
    background-color: transparent;
  }
  to {
    background-color: $accent;
  }
}

.c-answer-list {
  padding: 0;

  .c-answer-list__answer-option {
    list-style: none;
    display: block;
    padding: 2rem;
    margin: 1rem 0;
    border: 1px solid $accent;
    border-radius: 4px;
    background-color: transparent;
    transition: background 600ms;

    &:hover {
      background-color: $accent;
      color: white;
      cursor: pointer;
    }
  }
}
